* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*color: #6c6b6b;*/
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url("../画像/img2/mv.jpg");
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.box1 {
  padding-bottom: 30px;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 30px;
}

.box2 {
  padding-bottom: 30px;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 30px;
}

.box3 {
  padding-bottom: 30px;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 30px;
}

.box4 {
  padding-bottom: 30px;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 30px;
}